<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>

  <div style="background:#F9F9F9; max-width:900px; margin:0 auto; width:100%; padding:2em .5em;box-sizing:border-box;">
    <div style="text-align:center">
      <img src="cid:brigosha-logo@2x" width="100">
    </div>

    <div style="background:#fff; border-radius:15px; max-width:800px; width:100%; margin:2em auto;
    padding:2em; box-sizing:border-box; box-shadow:0 1px 7px rgba(0,0,0,.07);">
    <div style="font-size:22px; font-weight:600; color:#0086FF; margin-bottom:1em;">
      Dear {{username}},
    </div><br>
    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
     Welcome to <b>Brigosha Hackathon</b>. Your test is scheduled on <b>{{date}}</b>. Please follow the link below to appear for the test.
      <div><a href={{link}}>Test Link</a></div>
      <div>Use your registered phone number to complete your registration</div>
      <div>Phone no.:  {{phone}}</div><br />

      <div style="font-weight: bold;">Instructions:</div>
      <ul>
        <li>Candidate shall be available at the time of interview as mentioned above.</li>
        <li>Candidate shall have a laptop/desktop(with webcam) and a working internet connection.</li>
        <li>Candidate shall open the link in this mail and register themselves using the phone number mentioned in his/her resume to start the test.</li>
        <li>Candidate shall grant permission to access the webcam camera for the test to begin.</li>
        <li>Candidate's video and screen shall be recorded during the test.</li>
        <li>Candidate shall not switch tabs during the test. Repeating the same more than twice shall lead to forced submission of the test.</li>
        <li>Any unfair means used shall lead to candidate's disqualification and the candidate may be barred from appearing in any future hirings in Brigosha.</li>
        <li>Candidate shall review all questions before final submission. Changes cannot be made once the test is submitted.</li>
        <li>Each candidate can appear the test only once.</li>
        <li>All decisions made by Brigosha Hackathon Team shall be final</li>
      </ul>
    <br>
    <br>
    For any issues contact dheeraj.goel@brigosha.com

    <div style="color:#333333; font-size:18px; margin-bottom:1em;">
      Best Regards<br>
      Team Brigosha<br>
      www.brigosha.com <br>

    </div>
  </div>

    <img src="cid:bottom_border@2x" width="100%">

  <div style="text-align: center; margin-top:1em; ">
    <div style="color:#737373; font-size:13px; ">3rd Floor, VCR Cornerstone, 19th Main, HSR Layout Bengaluru, 560102</div>
  </div>
</div>

</body>
</html>
